<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Blog One</title>

  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>


<body>
<div class="center jumbotron">
  <h1 style="color:white;">Ruby Blog</h1>
  <%= link_to "Sign up", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
</div>




</body>



</html>
