<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Blog One</title>

  <link rel="stylesheet" href="css/styles.css?v=1.0">
</head>


<body>
  <h1> This is a Test Blog </h1>

<%= link_to 'About', about_path %>


</body>



</html>
